h3 {
    text-align: center;
    background-color: red;
    font-size: 15pt;
    margin-top: 5px;
}
span {
    font-style: italic;
    font-size: 20pt;
}

fieldset {
    background-color:floralwhite;
       width: max-content;
    border: 3px solid black;
   margin:auto;
   margin-top: 10%;
}

body {
    background-color: black;
    width: 100%;
}

div {
    width: 450px;
    /* float: right; */
    border: 2px solid black;
    padding: 0.2em;
    margin-bottom: 0.1em;
    font-size: 85%;
    display:block;
}

label {

    font-weight: bolder;
    /* text-align: center; */
    /* margin-left: 10px;
    margin-right: 10px; */
    
   /* text-align: left 5px; */
}


.subscribed {
    font-weight: bold;
    border: none;
    margin-right: -5px;
    font-size: 10pt;
}

.info {
    font-weight: bold;
    border: none;
    margin-right: -5px;
    font-size: 10pt;
}

input { 
border-top-style: solid;
border-style: solid;
border-bottom: none;
border-left: none;
border-right: none;

}


