input[type=text],input[type=email],input[type=number]{
    width: 50%;
    padding:12px;
    border:1px solid grey;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
   
}
h2,h3 {
    text-align: center;
}
.texti {
    width: 60%;
    height: 50px;
    resize: none;
}

input[type=submit] {
    background-color: seagreen;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor:pointer;
}
input[type=submit]:hover {
    background-color:green;
    }

    .container {
        border-radius: 5px;
        background-color:lightblue;
        padding: 20px;
    }